# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
obj/
*.csproj
*.unityproj
*.sln
*.user
.vscode
# Unity generated folders
Temp/
Logs/
Assets/ZooMerge/Textures/Ui/.DS_Store
Assets/ZooMerge/Textures/enemies/.DS_Store
Assets/ZooMerge/Textures/Animals/.DS_Store
Assets/ZooMerge/Textures/.DS_Store
Assets/ZooMerge/.DS_Store
Assets/.DS_Store
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.so.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.so
Assets/Firebase/Plugins/Google.MiniJson.dll
Assets/Firebase/Plugins/Google.MiniJson.dll.meta
Assets/Firebase/Editor/generate_xml_from_google_services_json.exe.meta
Assets/Firebase/Editor/generate_xml_from_google_services_json.py.meta
Assets/Firebase/Editor/generate_xml_from_google_services_json.exe
Assets/Firebase/Editor/generate_xml_from_google_services_json.py
