# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
obj/
*.csproj
*.unityproj
*.sln
*.user
.vscode
# Unity generated folders
Temp/
Logs/
Assets/google-services.json
Assets/GoogleService-Info.plist
Assets/GoogleService-Info.plist.meta
Assets/google-services.json.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.so.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.so
Assets/Firebase/m2repository/com/google/firebase/firebase-config-unity/12.9.0/firebase-config-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.9.0/firebase-app-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-config-unity/12.9.0/firebase-config-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.9.0/firebase-app-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-config-unity/12.9.0/firebase-config-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.9.0/firebase-app-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-config-unity/12.9.0/firebase-config-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.9.0/firebase-app-unity-12.9.0.pom
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.bundle
